*{
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    z-index: 1;
    height: 65px;
    position: absolute;
}

#nav{
    font-weight: bold;
    text-transform: uppercase;
}

#nav,.subnav{
    list-style: none;
}

#nav li{
    position: relative;
}

#nav>li{
    display: inline-block;
}

#nav>li>a{
    color: white;
}

#nav li a{
    padding: 0 45px;
    line-height: 65px;
    text-decoration: none;
    display: inline-block;
}

#nav li:hover .subnav{
    display: block;
}

#nav>li:hover>a{
    border-radius: 7px;
}

#nav>li:hover>a,
#nav .subnav li:hover{
    color: aqua;
    background-color: black;
}

#nav .subnav{
    display: none;
    position: absolute;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

#nav .subnav a{
    color:aqua;
    line-height: 40px;
}

#nav .nav-icon-down{
    font-size: 20px;
}

#slider{
    padding-top: 50%;
    position: relative;
    background: url("../Images/photo-1579548122080-c35fd6820ecb.jfif") top center / cover no-repeat;
}

#slider .text{
    bottom: 30%;
    width: 100%;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}
#slider .text-heading{
    font-size: 75px;
    font-weight: 500;
    color:cornflowerblue;
}

#slider .text-description{
    font-size: 25px;
    margin-top: 75px;
    font-weight: 700;
    color:blanchedalmond;
}

#footer{
    width: 100%;
    padding: 50px 0;
    background-image: linear-gradient(to right, 
    #6DBCDB, #285665);
}

#footer .text-copyright{
    color: aqua;
}