#contact{
    padding: 100px 250px;
    background-color: lightskyblue;
}

#contact .contact-text{
    width: 50%;
    padding: 40px 350px 50px 150px;
    background-color: white;
}

#contact .call-text{
    font-size: 25px;
    font-weight: 700;
}

#contact .contact-sub-text{
    padding: 25px 35px;
}

#contact .contact-sub-content{
    padding: 10px 35px;
}

#contact .contact-btn{
    color: aliceblue;
    padding: 4px 18px;
    background-color: black;
}

.feed-text{
        width: 50%;
        padding: 100px 350px 100px 150px;
        background-color: white;
}

.feed-sub{
    font-weight: bold;
    padding: 15px  30px;
}

a:link{
    color:deepskyblue;
}